@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}


<h1>Register</h1>
<form method="post" asp-action="Register">
    <div asp-validation-summary="All" class="text-danger">

    </div>
    <table class="table table-bordered">
        <tr>
            <td><label asp-for="Email"></label> </td>
            <td>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="ConfirmEmail"></label> </td>
            <td>
                <input asp-for="ConfirmEmail" class="form-control" />
                <span asp-validation-for="ConfirmEmail" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="Password"></label> </td>
            <td>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="ConfirmPassword"></label> </td>
            <td>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="Mobile"></label> </td>
            <td>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="G"></label> </td>
            <td>
                <input asp-for="G" class="form-control" />
                <span asp-validation-for="G" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Register" class="btn btn-primary" />
                <a asp-action="Login">I have account</a>
            </td>
        </tr>


    </table>

</form>